# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.py,cover
*.so

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/
ENV/
.venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*
*.env

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/secrets.toml

# -----------------------------
# Logs
# -----------------------------
*.log
logs/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Build / Distribution
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Zip / Export Files
# -----------------------------
*.zip

# -----------------------------
# Temporary Files
# -----------------------------
*.tmp
*.bak
*.swp

# -----------------------------
# Cache
# -----------------------------
.cache/